# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
# SwiftPM
.build/
# CocoaPods / Carthage (indien gebruikt)
Pods/
Carthage/
# Misc
.DS_Store
